@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,700&family=Oswald:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #cddecb;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%231af710' fill-opacity='0.68' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Oswald", sans-serif;
}
.container-nav {
  display: flex;
  align-items: center;
  height: 85px;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
}
.logo {
  max-width: 5rem;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.button-menu-abrir,
.button-menu-cerrar {
  display: none;
}
@media (max-width: 720px) {
  .button-menu-abrir,
  .button-menu-cerrar {
    display: block;
    border: 0;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
  .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: black;
    padding: 2rem;
    padding-top: 40px;
  }
  .navbar.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-links {
    flex-direction: column;
    align-items: end;
  }
}
.fa-solid fa-bars {
  width: 280px;
}
.titulo {
  text-align: center;
  font-size: 20px;
  color: #6759ff;
}
.texto {
  display: block;
  padding: 10px;
}
.texto h2 {
  color: #6759ff;
  text-align: center;
}
.bloc {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.bloc_bis {
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
  flex: 1;
}
.bloc_bis:hover {
  flex: 4;
  border-radius: 20px;
}
._img1 {
  background-image: url(../images/img1.avif);
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
._img2 {
  background-image: url(../images/img2.webp);
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
._img3 {
  background-image: url(../images/img3.jpg);
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
.seccion1 {
  display: flex;
}
.seccion1 h2 {
  color: #6759ff;
}
.paisaje1 {
  width: 40%;
  margin: 20px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
.div1 {
  padding: 20px;
}
.excB {
  width: 100%;
  display: flex;
}
.imgP {
  width: 500px;
  margin: 20px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
.div_exc {
  display: flex;
}
.exch1 {
  text-align: center;
  color: #6759ff;
}
label {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
#main-section {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 20px 0;
}
#form-registro {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  background: #e2e2e2;
  padding: 35px;
  border-radius: 10px;
}
.subtitle {
  padding: 15px 0 30px;
  color: grey;
}
.section {
  padding: 0 60px;
}
.ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.ul li {
  padding: 0 20px;
}
.link.btn {
  padding: 10px 20px;
  color: grey;
  text-decoration: none;
  font-weight: 700;
  border: solid 1px;
  border-radius: 10px;
  display: block;
  position: relative;
  margin: 20px auto 0;
  width: 80%;
}
.form-group {
  padding: 10px 15px;
}
.input {
  padding: 8px 15px;
  border: solid 1px grey;
  border-radius: 5px;
}
#main-section .section:first-child {
  max-width: 450px;
}
.form-group:last-child {
  width: 100%;
}
.link:hover {
  color: white;
  background-color: grey;
}
.input:focus {
  color: grey;
  outline-color: green;
}
.container-json {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
}
.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}
.active {
  background-color: #6759ff;
  color: white;
}
#excursiones {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: white;
  max-width: 50em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.8);
}
.img-container {
  text-align: center;
}
.img {
  max-width: 100%;
  object-fit: contain;
  height: 25em;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  .img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #excursiones {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
